*{
    font-family:'Courier New', Courier, monospace;
}
* {
    box-sizing: border-box;
  }
:root{
    --dark: #000000;
    --light: lightblue;
    --dark2: grey;
}
body {
    color: var(--light);
    background-color:var(--dark2);
        
    
}

li{
    display: inline;
    text-decoration:none;
    padding: 0 20px;
    font-size: larger;
}
.textright{
    text-align: right;
    text-decoration: none;
    
}
a{
    color: var(--light);
    text-decoration: none;
}


header{
    margin: 0 auto;
    text-align: center;
    font-size: larger;
    background-color: var(--dark);
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.card{
    flex: 1 0 100%;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: solid var(--light);
    margin: 20px;
}
.card img {
    display: block;
    margin: 20px auto;
    width: 10%;
    position:relative;
    
  }
.project{
    color:var(--light);
    background-color:var(--dark2);
    font-family: "Arial, Helvetica, sans-serif";
    flex: 1 0 200px;
    border-width: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
       
    
}
.aboutme{
    color: var(--light);
    background-color:var(--dark);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.contactinfo{
    color:var(--light);
    background-color:var(--dark);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
}

@media screen and (max-width:992px){

}
    
