*{
    font-family:'Courier New', Courier, monospace;
}
:root{
    --dark: #000000;
    --light: #008000;
    --dark2: grey;
}
body {
    color: var(--light);
    background-color:var(--dark2);
    
    
}

header{
    margin: 0 auto;
    text-align: center;
    font-size: larger;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}
.card{
    flex: 1 0 100%;
    padding: 2px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: solid yellow;
}
.project{
    color:var(--light);
    background-color:var(--dark2);
    font-family: "Arial, Helvetica, sans-serif";
    flex: 1 0 200px;
    border-width: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

       
    
}
.aboutme{
    color: var(--light);
    background-color:var(--dark);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.contactinfo{
    color:var(--light);
    background-color:var(--dark);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width:992px){

}
    
