*{
    font-family:'Courier New', Courier, monospace;
}
body {
    color: white;
    background-color: black;
}
.project{
    color:white;
    background-color:red;
    font-family: 'Courier New', Courier, monospace;
}
.aboutme{
    color: red;
    background-color: blue;
}